<div class="toys-selection">
  <aside class="filters">
    <div class="filter-item">
      <div class="filter-item__title">Фильтры по значению</div>
      <div class="filter-item__filter-type">
        <div class="filter-type__name"></div>
        <div class="filter-type__attribute"></div>
      </div>
      <div class="filter-item__filter-type">
        <div class="filter-type__name"></div>
        <div class="filter-type__attribute"></div>
      </div>
      <div class="filter-item__filter-type">
        <div class="filter-type__name"></div>
        <div class="filter-type__attribute"></div>
      </div>
      <div class="filter-item__filter-type">
        <div class="filter-type__name"></div>
        <div class="filter-type__attribute"></div>
      </div>
    </div>
    <div class="filter-item">
      <div class="filter-item__title">Фильтры по диапазону</div>
      <div class="filter-item__filter-type">
        <div class="filter-type__name"></div>
        <div class="filter-type__attribute"></div>
      </div>
      <div class="filter-item__filter-type">
        <div class="filter-type__name"></div>
        <div class="filter-type__attribute"></div>
      </div>

    </div>
    <div class="filter-item">
      <div class="filter-item__title"></div>
      <div class="filter-item__filter-type">
        <div class="filter-type__name"></div>
        <div class="filter-type__attribute"></div>
      </div>
      <div class="filter-item__filter-type">
        <div class="filter-type__name"></div>
        <div class="filter-type__attribute"></div>
      </div>
    </div>
  </aside>
  <div class="container">
    <div class="container__item">
      <div class="item__title"></div>
      <div class="item__image"></div>
      <div class="item__description">
      </div>
    </div>
  </div>
</div>