<div class="toys-selection">
  <aside class="filters">
    <div class="filter-item sort">
      <div class="filter-item__title">Сортировка</div>
      <select class="sort__selector">
        <option value="0">По названию от А до Я</option>
        <option value="1">По названию от Я до А</option>
        <option value="2">По возрастанию</option>
        <option value="3">По убыванию</option>
      </select>
      <button class="remove-filter">Сброс фильтров</button>
    </div>
  </aside>
  <div class="content-container">
  <div class="container"></div>
  </div>
</div>