.toys-selection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  .filter-item{
    padding: 1em;
    background-color: rgba(104, 104, 230, 0.452);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;

    .filter-item__filter-type{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.options{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .options__item{
    width: 2em;
    height: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  [data-shape="BALL"]{
    background-image: url(../../assets/svg/ball.svg);
  }
  [data-shape="BELL"]{
    background-image: url(../../assets/svg/bell.svg);
  }
  [data-shape="SNOWFLAKE"]{
    background-image: url(../../assets/svg/snowflake.svg);
  }
  [data-shape="PINECONE"]{
    background-image: url(../../assets/svg/cone.svg);
  }
  [data-shape="FIGURE"]{
    background-image: url(../../assets/svg/toy.svg);
  }
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  height: 60vh;
  
  .container__item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 1em;
    width: 15rem;
    padding: 1em;
  }
}

.item__description{
  display: flex;
  justify-content: space-evenly;

  .description__image{
    width: 5rem;
    height: 5rem;
    img{
      width: 100%;
      height: auto;
    }
  }
  .description__list.properties{


  }


}
